<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        <h3>Reset Password</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
              <label for="resetPasswordEmail" class="form-label">Email</label>
              <input type="email" name="email" ngModel required #email="ngModel"
              class="form-control" id="resetPasswordEmail"
              placeholder="Email" autofocus>
            </div>
            <button type="submit"  [disabled]="f.invalid"
            class="btn btn-primary">Reset Password</button>
          </form>
    </div>
</div>