.row{
    background-image: url("../../../assets/img/Daco_25178.png");
    background-repeat: no-repeat;
    background-size: 90%;
}
.home-image-wrapper{
    overflow: hidden;
}
.home-image-wrapper img{
    display: block;
    margin: auto;
    width:100%;
}